*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
.App{
  margin-top: 30px;
}
.main_div {
  border: 3px solid black;
  width: 320px;
  background-color: white;
  color: black;
  /* padding-bottom: 4px; */
  margin-top: 50px !important;
  border-radius: 10px;
  overflow: hidden;
  margin: auto !important;
  padding: 10px 5px;
}
.text{
  text-align: center;
  margin: 20px 0;
}
.text>input {
  border-radius: 10px;
  width: 95%;
  padding: 20px 0px;
  background-color: aliceblue;
  border: none;
  text-align: right;
  font-size: 25px;
  font-weight: bold;
}

.btn input {
  height: 70px;
  width: 70px;
  font-size: 17px;
  font-weight: bold;
  /* border-radius: 7px; */
  background-color: #24231f;
  color: white;
  border: none;
  margin:3px;
  /* box-shadow: 0px 0px 1px white; */
}

.six {
  display: flex;
  justify-content: space-around;
}

.six>input {
  background-color: #24231f;
  border: none;
  color: white;
  padding: 10px 0;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
}

input>.btn1 {
  background-color: red;
}
